doctype
html
  head
    meta(charset='utf-8')
    title Are You Ok?
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://fonts.font.im/css?family=Titillium+Web')
    link(rel='stylesheet', href='css/main.css')
  body
    <!--[if lt IE 10]>
    p.browsehappy
      | You are using an <strong>outdated</strong> browser.
      | Please <a href="http://browsehappy.com/">upgrade your browser</a>
      | to improve your experience.
    <![endif]-->

    - var qw = [['Q', 81, '3Q'], ['W', 87, '哈喽'], ['E', 69, '为嘛吃'], ['R', 82, '哈哈哈'], ['T', 84, ''], ['Y', 89, ''], ['U', 85, 'Mi'], ['I', 73, 'Fans'], ['O', 79, 'Band'], ['P', 80, 'How']]
    - var as = [['A', 65, 'Are You'], ['S', 83, 'OK'], ['D', 68, 'And'], ['F', 70, '为嗨皮'], ['G', 71, ''], ['H', 72, ''], ['J', 74, 'I I I'], ['K', 75, 'Very OK'], ['L', 76, 'Indian'], [';', 186, 'Oh']]
    - var zx = [['Z', 90, ''], ['X', 88, ''], ['C', 67, ''], ['V', 86, ''], ['B', 66, ''], ['N', 78, ''], ['M', 77, ''], [',', 188, '']]

    .animated-lyrics

    .keyboard-wrap
      .keyboard
        .row
          each item in qw
            .key(data-key= item[0], data-keycode= item[1], data-lyric= item[2])
              b= item[0]
              if item[2]
                span= item[2]
        .row
          each item in as
            .key(data-key= item[0], data-keycode= item[1], data-lyric= item[2])
              b= item[0]
              if item[2]
                span= item[2]
        .row
          each item in zx
            .key(data-key= item[0], data-keycode= item[1], data-lyric= item[2])
              b= item[0]
              if item[2]
                span= item[2]
        .row
          .space(data-key='SPACE', data-keycode='32')

    .footer
      p By <a href='http://hackll.com'>Linghao Li</a> with <a href="https://github.com/llh911001/are-you-ok">Github</a>
      p Original audio by <a href='http://weibo.com/mrlemonix'>@MrLemoniX</a>
      p Inspired by <a href='http://codepen.io/kowlor/pen/MYOKRd'>DaftPunKonsole</a>

    script(src='//code.jquery.com/jquery-2.2.4.min.js')
    script(src='assets/js/ion.sound.min.js')
    script(src='js/main.js')
